.App {
  font-family: sans-serif; 
  margin: 0 auto; 
  max-width: 850px; 
  padding: 20px;
  
}

.App h1 {
  text-align: center; 
  margin: 0; 
}

.form-group {
  margin-bottom: 15px;
}

.form-control {
  display: block; 
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px; 
}

.btn-primary {
  display: block;
  width: 103%;
  background-color: #007bff; 
  color: #fff; 
  border: none;
  border-radius: 4px;
  padding: 10px; 
  cursor: pointer; 
}

.btn-primary:hover {
  background-color: #0069d9; 
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

